<div class="wrapper">

  <mv-header></mv-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>    

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer" style="background: #e1e1e1;">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <img src="../assets/img/logo-footer-mv.png" style="width: 7%;background-color: white;"> Copyright 2019 MV. Todos os direitos reservados.
    </div>
  </footer>
</div>
