<section class="content-header darkBrown">
  <h1>
      Lista de CNES
  </h1>
</section>
<section class="content">
  <section class="invoice">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title darkBrown">Contagem Total de CNES: {{cnesCount | number}}</h3>
                <div class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;"> 
                  </div>
                </div>
              </div>              
              <div *ngIf="!cnesLists"><img src="../../assets/img/OFuO.gif" style="margin-left: 12%;"></div>
              <div *ngIf="cnesLists">
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover darkBrown">
                  <tr>                    
                    <th>CNES</th>
                    <th>IBGE</th>
                    <th>Nome Fantasia</th>
                    <th>Tipo Unidade</th>
                    <th>Gestão</th>
                    <th>Endereço</th>
                    <th>Numero</th>
                    <th>CEP</th>
                    <th>UF</th>
                    <th>Municipio</th>
                    <th>Telefone</th>                    
                  </tr>
                  <tr *ngFor="let cnesList of cnesLists">
                    <td>{{cnesList.co_cnes}}</td>
                    <td>{{cnesList.co_ibge}}</td>
                    <td>{{cnesList.no_fantasia}}</td>
                    <td>{{cnesList.ds_tipo_unidade}}</td>
                    <td>{{cnesList.tp_gestao}}</td>
                    <td>{{cnesList.no_logradouro}}</td>
                    <td>{{cnesList.nu_endereco}}</td>
                    <td>{{cnesList.co_cep}}</td>
                    <td>{{cnesList.uf}}</td>
                    <td>{{cnesList.municipio}}</td>
                    <td>{{cnesList.nu_telefone}}</td>
                  </tr>                  
                </table>
              </div>              
              <!-- /.box-body -->
              <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <!--<li><a (click)="previousPages()">&laquo;</a></li>
                  <li><a (click)="moreRecords(limit)">1</a></li>
                  <li><a (click)="moreRecords(limit)">{{page[1]}}</a></li>
                  <li><a (click)="moreRecords(limit)">{{page[2]}}</a></li>
                  <li><a (click)="moreRecords(limit)">{{page[3]}}</a></li>
                  <li><a (click)="moreRecords(limit)">{{page[4]}}</a></li>
                  <li><a (click)="moreRecords(limit)">{{page[5]}}</a></li>
                  <li><a (click)="nextPages()">&raquo;</a></li>-->
                </ul>
              </div>
            </div>
          </div>
            <button class="btn btn-primary" (click)="moreRecords()"> Mais 10 registros</button>
            <!-- /.box -->
          </div>
        </div>
  </section> 
</section>